ul {
  list-style-type: none;
  margin: 1.813rem 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  display: flex;
}

ul li {
  align-items: center;
  padding: 24px 0;
}

ul li:first-of-type {
  margin-left: 2.938rem;
}

ul li:last-of-type {
  margin-left: 2.563rem;
  opacity: 50%;
}

.cms {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
  text-decoration: none;
  padding: 14px 0;
  display: block;
  margin-left: 6.25rem;
  letter-spacing: normal;
}

.active-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  letter-spacing: 1.9px;
  font-size: 0.813rem;
  cursor: pointer;
}

.fa-sharp {
  font-size: 1.25rem;
  color: #0290ff;
  margin-left: 30.3rem;
  padding: 24px 0;
}

@media screen and (max-width: 768px) {
  ul {
    margin: 0.313rem 0;
    display: flex;
  }

  ul li {
    align-items: center;
    padding: 6px 0;
  }

  ul li:first-of-type {
    margin-left: 0.5rem;
  }

  ul li:last-of-type {
    margin-left: 0.5rem;
  }

  .cms {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.675rem;
    font-weight: 300;
    padding: 4px 0;
    margin-left: 0;
    margin-top: 7px;
    margin-right: 10px;
    letter-spacing: normal;
  }

  .active-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #121212;
    letter-spacing: 0.6px;
    font-size: 0.513rem;
    cursor: pointer;
  }

  .fa-sharp {
    font-size: 0.25rem;
    color: #0290ff;
    margin-left: 10.3rem;
    padding: 4px 0;
  }
}

